<html>
<title> Chef Create Index </title>
<h2> This is <%= node['hostmane']%> host </h2>
<body>
This host has <%= node['memory']%> Total Memory <br>
This host has <%= node['platform'] %> Platform 

<h1>> Hello wolrd. </h1>

</body>
</html>
